.home-page {
  .l-header {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    margin: auto;
    min-width: inherit;
    height: 50px;
    .logo {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      .logo-icon {
        width: 50px;
      }
    }
  }
  .action-sidenav {
    position: absolute;
    top: 50px;
    z-index: 9999;
    .action-btn {
      font-size: 25px;
      color: #4f4f4f;
      cursor: pointer;
    }
  }
  .action-status {
    text-align: center;
  }
  .start-btn {
    margin-top: 30px;
  }
  .announcements-list {
    position: fixed;
    left: 0;
    bottom: 0;
    max-width: 420px;
    padding: 0;
    z-index: 10;
    .announcements-item {
      position: relative;
      padding: 16px;
      box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3), 0 8px 12px rgba(58,193,203,.1);
      border-radius: 1px;
      background: #fff;
      padding-right: 48px;
      animation: announcements-item-flyin 500ms ease-out;
      transition: opacity 500ms linear,transform 500ms ease-out;
      .title {
        font-size: 15px;
        font-weight: 400;
        color: #745fb5;
        margin: 0;
        padding: 0;
      }
    }
  }
}