.home-page {
  .l-header {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    margin: auto;
    min-width: inherit;
    height: 50px;
    .logo {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      .logo-icon {
        width: 50px;
      }
    }
  }
  .action-sidenav {
    position: absolute;
    top: 50px;
    z-index: 9999;
    .action-btn {
      font-size: 25px;
      color: #4f4f4f;
      cursor: pointer;
    }
  }
  .action-status {
    text-align: center;
  }
  .start-btn {
    margin-top: 30px;
  }
}