@import './palette.scss';
@import './home.scss';
@import "./board.scss";


body {
  margin: 0;
  background: #f1f3f5;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

tbody > tr > td {
  vertical-align: middle;
}

.btn {
  font-weight: 300;
  border: none;
  outline:none;
  border-radius: 3px;
  padding: 8px 30px;
  color: #fff;
  transition: all 0.3s;
  background: $primary-color;
  &:hover {
    cursor: pointer;
  }
}
.btn-rounded {
  border-radius: 25px;
}

.text-grey {
  color: #656565;
  font-size: 14px;
}

.divider {
  height: 1px;
  background: #ddd;
  margin:0 auto;
}

.footer {
  padding: 60px 20px;
  div {
    font-size: 14px;
    .fas {
      color: $primary-color;
    }
  }
}


input.form-control {
  height: 40px;
  box-shadow: none;
  border:none;
  &:focus {
    box-shadow: none;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 15px;
}
