/* Coolors Exported Palette - coolors.co/03b5aa-037971-023436-00bfb3-049a8f */

/* Ship sizes */
$size1: 30px;
$size2: 63px;
$size3: 96px;
$size4: 129px;

/* HSL */
$primary-color: #306cd3;
$primary-dark-color: #2757ab;
